<robot name="my_robo" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link"/>
  <joint name="joint1" type="fixed">
    <parent link="base_link"/>
    <child  link="body_link"/>
  </joint>

 <link name="body_link">
   <inertial>
     <origin xyz="0 0 0.005" rpy="0 0 0"/>
     <mass value="1"/>
     <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
   </inertial>

   <visual>
     <origin xyz="0 0 0" rpy="0 0 0" />
     <geometry>
       <box size="0.01 0.01 0.01" />
     </geometry>
     <material name="Cyan">
       <color rgba="0 1.0 1.0 1.0"/>
     </material>
   </visual>


   <collision>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
       <box size="0.01 0.01 0.01" />
     </geometry>
   </collision>

  </link>
  <gazebo reference="body_link">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>
